html, body {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  height: 100%;
  width: auto;
  margin: 0;
  background-color: #092B40 !important;
}

img {
  position: relative;
  top: -30px;
  left: -260px;
  height: 100px !important;
  width: 100px !important;
  
}
md-card md-card-title{
  position: relative;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
  width: 100% !important;
  left: 0%;
  height: 10% !important;
  font-family: Roboto;
}
.title{
  text-transform: uppercase;
  font-size: 50px;
  margin-top: 20px;
  font-weight: 900;
}



.md-headline {
  font-size: 42px;
  font-weight: 400;
  line-height: 56px;
}

md-card-content{
  margin: 100px;
  margin-top: 0px !important;
  padding: 50px;
  padding-top: 0px;
}
.content {
  height: inherit;
}

.results {
  background-color: #092B40;
}
/* Article text from Wikipedia API */
.extract {
  position: relative;
  padding-bottom: 1rem;
  font-size: 19.2px;
  left: 20%;
  width: 60%;
  text-align: center;
}

.link, .banner, .title {
  text-align: center;
}

/* Full Article link below */
a {
  text-decoration: none;
  color: whitesmoke;
}
/* initial page - random article text */
.banner {
  margin: 5rem;
}
.md-medium-tall{
  background-color:rgb(0, 25, 49) !important;
}
.md-sidenav-left{
  background-color: #092B40;
}
.md-toolbar-tools{
  background-color:rgb(0, 25, 49);
}
.layout-column{
  background-color: #092B40;
  color: whitesmoke;
}
.focused{
  background-color:rgb(0, 25, 49);
  margin: 120px;
  margin-bottom: 0px;
  box-shadow: 0.1rem 0.1rem 0.5rem rgb(0 0 0 / 0.6), 0.2rem 0.2rem 1rem rgb(0 0 0 / 0.8), 0.4rem 0.4rem 4rem rgb(0 0 0 / 1);
}

.md-button{
  color: whitesmoke;
  border: 1px solid black;
  background-color: rgb(0, 25, 49);
}
.md-primary{
  background-color: rgb(0, 25, 49) !important;
}
label, input {
  color: whitesmoke !important;
  padding-left: 20px !important;
  padding-top: 20px !important;
  padding-bottom: 0px !important;
  margin-bottom: -6px;
}
input{
  border: 1px solid whitesmoke !important;
  height: 40px !important;
}